USE [sbigeneral]
GO
/****** Object:  StoredProcedure [dbo].[proc_HighlightsNew]    Script Date: 14-05-2024 20:04:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[proc_HighlightsNew]
(
@Id uniqueidentifier = NULL ,
@UserId uniqueidentifier = NULL ,
@f_id uniqueidentifier =NULL ,
@f_date varchar(30) =null,
@f_fileid varchar(36)=null,
@f_docid varchar(36)=null,
@f_filename varchar(200)=null,
@f_count varchar(100)=null,
@OperationType varchar(100) = NULL,
@OutcomeId int  = NULL  OUT,
@OutcomeDetail varchar(4000) = null out

)
as
begin
	If @OperationType='GetAll'
	begin
	BEGIN TRY
		BEGIN TRAN GetAllFileUpload SET @OutcomeId = 1 SET @OutcomeDetail ='FileUpload'
select * from (
select ROW_NUMBER() over (partition by a.f_doctype order by a.f_doctype ) num, * from (
select d.d_name as f_doctype,d.d_tablename,d.d_id,f.f_filename,FORMAT(f_date, 'yyyy/MM/dd') AS f_date,f.f_count,f.f_fileid from  tbl_documentmaster d  left join tbl_accupload f on d.d_id=f.f_docid 
			where f.f_date=@f_date  and  d_id='22826842-FB61-46AD-9199-2B14B9319DA5'
			union all
			select d.d_name as f_doctype,d.d_tablename,d.d_id,'' f_filename,'' AS f_date, '' f_count,'' f_fileid from  tbl_documentmaster d 
			) a
			) b
where b.num = 1  and  d_id='22826842-FB61-46AD-9199-2B14B9319DA5'


		COMMIT TRAN GetAllFileUpload
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN GetAllFileUpload

        SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
		
    END CATCH
	 SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail;
	 end

	 If @OperationType='Insert'
	begin
	BEGIN TRY
		BEGIN TRAN InsertFileUpload SET @OutcomeId = 1 SET @OutcomeDetail ='FileUpload'
		DECLARE @CLIENT VARCHAR(MAX)
		
			insert into tbl_accupload (f_id,f_fileid,f_docid,f_date,f_filename,f_count,f_updatedby,f_updateddate,f_isactive)
			values(newid(),@f_fileid,@f_docid,@f_date,@f_filename,@f_count,@UserId,GETDATE(),'1')

		COMMIT TRAN InsertFileUpload
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN InsertFileUpload

        SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
		
    END CATCH
	 SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail;
	 SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail;
	 end 

	  If @OperationType='Update'
	begin
	BEGIN TRY
		BEGIN TRAN UpdateFileUpload SET @OutcomeId = 1 SET @OutcomeDetail ='FileUpload'
			

		COMMIT TRAN UpdateFileUpload
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN UpdateFileUpload

        SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
		
    END CATCH
	 SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail;
	 end 
	  If @OperationType='Delete'
	begin
	BEGIN TRY
		BEGIN TRAN DeleteFileUpload SET @OutcomeId = 1 SET @OutcomeDetail ='FileUpload'
			
			Delete from [dbo].[tbl_acc_highlights] where h_date=@f_date
			Delete from [dbo].[tbl_acc_yeild] where y_date=@f_date
			Delete from [dbo].[tbl_effratio] where e_date=@f_date
			Delete from [dbo].[tbl_finhighlights] where f_date=@f_date
			Delete from [dbo].[tbl_mou] where mou_date=@f_date
			Delete from [dbo].[tbl_mourevised] where m_date=@f_date
			Delete from tbl_accupload where f_date=@f_date
		COMMIT TRAN DeleteFileUpload
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN DeleteFileUpload

        SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
		
    END CATCH
	 SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail;
	 SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail;

	 end 
end

