USE [sbigeneral]
GO
/****** Object:  StoredProcedure [dbo].[proc_BorroAndRFR]    Script Date: 21-06-2024 09:46:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[proc_BorroAndRFR]
(
@Id uniqueidentifier = NULL ,
@UserId uniqueidentifier = NULL ,
@rb_id uniqueidentifier =NULL ,
@rb_date varchar(36) =null,
@rb_fileid varchar(36)=null,
@rb_docid varchar(36)=null,
@rb_doctype varchar(200)=null,
@rb_filename varchar(200)=null,
@rb_count varchar(100)=null,
@rb_updatedby varchar(36)=null,
@type varchar(100)=null,
@batchid varchar(100)=null,
@rb_updateddate datetime = null,
@Forex varchar(100)=null,
@Bank_Line_WCL varchar(100)=null,
@Commercial_Paper varchar(100)=null,
@TIER_II_BOND varchar(100)=null,
@date varchar(max)= null,
@OperationType varchar(100) = NULL,
@OutcomeId int  = NULL  OUT,
@OutcomeDetail varchar(4000) = null out

)
as
begin
if(@date is null)
		begin
		select top 1 @date=FileDate from tbl_RFRDoc order by FileDate desc
		end
	If @OperationType='GetAll'
	begin  
	BEGIN TRY
		BEGIN TRAN GetAllFileUpload 
		SET @OutcomeId = 1 SET @OutcomeDetail ='FileUpload'
		if @rb_date is not null
		    select rb_id,d.d_name as rb_type,batchid,rb_doctype,d.d_tablename,d.d_id,f.rb_filename,rb_date,f.rb_count,f.rb_fileid from  tbl_documentmaster d  left join tbl_BorroAndRFR f on d.d_id=f.rb_docid 
			where f.rb_date =@rb_date  and d_id in('A0341EBE-2FB2-40D4-95D5-795DE789006B','539593FF-0807-479E-914B-D68497D5BC3A')
			ORDER BY F.rb_date DESC
		else
			select rb_id,d.d_name as rb_type,batchid,rb_doctype,d.d_tablename,d.d_id,f.rb_filename,rb_date,f.rb_count,f.rb_fileid from  tbl_documentmaster d  left join tbl_BorroAndRFR f on d.d_id=f.rb_docid 
			where  d_id in('A0341EBE-2FB2-40D4-95D5-795DE789006B','539593FF-0807-479E-914B-D68497D5BC3A') and rb_date is not null
			ORDER BY F.rb_date DESC
			--union all
			--select d.d_name as rb_doctype,d.d_tablename,d.d_id,f.rb_filename,FORMAT(rb_date, 'yyyy/MM/dd') AS rb_date,f.rb_count,f.rb_fileid from  tbl_documentmaster d  left join tbl_BorroAndRFR f on d.d_id=f.rb_docid where  d_id in('A0341EBE-2FB2-40D4-95D5-795DE789006B','539593FF-0807-479E-914B-D68497D5BC3A')

		COMMIT TRAN GetAllFileUpload
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN GetAllFileUpload

        SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
		
    END CATCH
	 SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail;
	 end

	 If @OperationType='Insert'
	begin
	BEGIN TRY
		BEGIN TRAN InsertFileUpload 
		SET @OutcomeId = 1 SET @OutcomeDetail ='File uploaded successfully'
			insert into tbl_BorroAndRFR (rb_id,rb_fileid,rb_docid,batchid,rb_doctype,rb_date,rb_filename,rb_count,rb_createdby,rb_updateddate,rb_createddate,rb_isactive)
			values(newid(),@rb_fileid,@rb_docid,@batchid,@rb_doctype,@rb_date,@rb_filename,@rb_count,@UserId,@rb_updateddate,@rb_updateddate,'1')

		COMMIT TRAN InsertFileUpload
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN InsertFileUpload

        SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
		
    END CATCH
	 SELECT  @OutcomeDetail AS OutcomeDetail
	 SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail;
	 end
	 if @operationType='GetRFR'
begin
  begin TRY
begin TRAN GetRFR

SET @OutcomeId = 1 SET @OutcomeDetail ='RFR!'
--select top 5 rfr_id,Currency,rfr,Effectivedate as EffectiveDate,Rate,rfr_createdby from tbl_RFRDoc 
--where MONTH(EffectiveDate) = MONTH(DATEADD(MONTH, -1, getdate())) AND YEAR(EffectiveDate) = YEAR(DATEADD(MONTH, -1, getdate()))
			SELECT 
   -- rfr_id,
   top 3
    Currency,
    rfr,
    DATEADD(month, DATEDIFF(month, 0, EffectiveDate), 0) AS EffectiveDate,
    FORMAT(ROUND(AVG(CAST(Rate AS DECIMAL(18, 2))), 2), '0.##') AS Rate,
    FileDate 
FROM 
    tbl_RFRDoc
--WHERE 
--    EffectiveDate >= DATEADD(month, DATEDIFF(month, 0, DATEADD(MONTH, -1, GETDATE())), 0)
--    AND EffectiveDate < DATEADD(month, DATEDIFF(month, 0, GETDATE()), 0)
where  FileDate=@date
GROUP BY 
   -- rfr_id,
    Currency,
    rfr,
    DATEADD(month, DATEDIFF(month, 0, EffectiveDate), 0),rfr_createddate,FileDate
	order by  Effectivedate desc 
commit TRAN GetRFR
END TRY
BEGIN CATCH
RollBack TRAN GetRFR
 SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
 END CATCH
  SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail
end
if @operationType='GetBorrow'
begin
  begin TRY
begin TRAN GetBorrow
SET @OutcomeId = 1 SET @OutcomeDetail ='Borrow!'
--select b_id,Product,Issued_Date,Rate,CAST(Amount AS FLOAT) / 10000000 as Amount,b_createddate from tbl_Borrowing
select @Forex =sum(cast(INR_OS as decimal))/10000000 from Tbl_Forex where b_createddate in (select TOP 1  b_createddate
  from [dbo].[tbl_FOREX] where FileDate=@date  order by  b_createddate desc) and  FileDate=@date
select @Bank_Line_WCL =sum(cast(Amount as decimal))/10000000 from tbl_Bank_Line_WCL where b_createddate in (select TOP 1  b_createddate
  from [dbo].[tbl_Bank_Line_WCL] where FileDate=@date  order by  b_createddate desc) and  FileDate=@date
select @Commercial_Paper =sum(cast(Amount as decimal))/10000000 from tbl_Commercial_Paper where b_createddate in (select TOP 1  b_createddate
  from [dbo].[tbl_Commercial_Paper] where FileDate=@date  order by  b_createddate desc) and  FileDate=@date
select @TIER_II_BOND =sum(cast(Amount as decimal))/10000000 from tbl_TIER_II_BOND where b_createddate in (select TOP 1  b_createddate
  from [dbo].[tbl_TIER_II_BOND] where FileDate=@date  order by  b_createddate desc) and  FileDate=@date
commit TRAN GetBorrow
END TRY
BEGIN CATCH
RollBack TRAN GetBorrow
 SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
 END CATCH
 select @Forex as FOREX,@Bank_Line_WCL as Bank_Line_WCL,@Commercial_Paper as Commercial_Paper,@TIER_II_BOND as TIER_II_BOND
  SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail
end

if @operationType='GetBorrowValue'
begin
  begin TRY
begin TRAN GetBorrowValue
SET @OutcomeId = 1 SET @OutcomeDetail ='Borrow!'
select Perticulars,NoOfAccount,convert(decimal(10,2), Amount) Amount from (
select 'Tier II' Perticulars, count(1) NoOfAccount, (sum(cast(Amount as decimal))/10000000 ) Amount from tbl_TIER_II_BOND where b_createddate in (select TOP 1  b_createddate
  from [dbo].[tbl_TIER_II_BOND] where FileDate=@date  order by  b_createddate desc) and  FileDate=@date
  union all
select 'CP' Perticulars, count(1) NoOfAccount, (sum(cast(Amount as decimal))/10000000 ) Amount from tbl_Commercial_Paper where b_createddate in (select TOP 1  b_createddate
  from [dbo].[tbl_Commercial_Paper] where FileDate=@date  order by  b_createddate desc) and  FileDate=@date
  union all
select 'WCL' Perticulars, count(1) NoOfAccount, (sum(cast(Amount as decimal))/10000000 ) Amount from tbl_Bank_Line_WCL where b_createddate in (select TOP 1  b_createddate
  from [dbo].[tbl_Bank_Line_WCL] where FileDate=@date  order by  b_createddate desc) and  FileDate=@date
  union all
select 'Forex' Perticulars, count(1) NoOfAccount, (sum(cast(INR_OS as decimal))/10000000 ) Amount from Tbl_Forex where b_createddate in (select TOP 1  b_createddate
  from [dbo].[tbl_FOREX] where FileDate=@date  order by  b_createddate desc) and  FileDate=@date
  ) a
  commit TRAN GetBorrowValue
END TRY
BEGIN CATCH
RollBack TRAN GetBorrowValue
 SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
 END CATCH
  SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail
end



if @operationType='GetTIER_II_BOND'
begin
  begin TRY
begin TRAN GetTIER_II_BOND
SET @OutcomeId = 1 SET @OutcomeDetail ='TIER_II_BOND!'
select b_id,[Name],Issued_Date,PymntDue_Date,Rate,CAST(Amount AS FLOAT) / 10000000 as Amount,Paid_UpTo,Due_Date,b_createddate from [dbo].[tbl_TIER_II_BOND]
where b_createddate in (select TOP 1  b_createddate
  from [dbo].[tbl_TIER_II_BOND] where FileDate=@date  order by  b_createddate desc) and  FileDate=@date
commit TRAN GetTIER_II_BOND
END TRY
BEGIN CATCH
RollBack TRAN GetTIER_II_BOND
 SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
 END CATCH
  SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail
end

if @operationType='GetCommercial_Paper'
begin
  begin TRY
begin TRAN GetCommercial_Paper
SET @OutcomeId = 1 SET @OutcomeDetail ='Commercial_Paper!'
select b_id,Investor,CP_NOS,ISIN_No,Issued_Date,CP_Deal_Rate,Due_Date,CP_Total_Cost,No_Of_Days,CAST(Amount AS FLOAT) / 10000000 as Amount,b_createddate from tbl_Commercial_Paper
where b_createddate in (select TOP 1  b_createddate
  from [dbo].[tbl_Commercial_Paper] where FileDate=@date  order by  b_createddate desc) and  FileDate=@date
order by Issued_Date DESC
commit TRAN GetCommercial_Paper
END TRY
BEGIN CATCH
RollBack TRAN GetCommercial_Paper
 SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
 END CATCH
  SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail
end

if @operationType='GetBank_Line_CC'
begin
  begin TRY
begin TRAN GetBank_Line_CC
SET @OutcomeId = 1 SET @OutcomeDetail ='Bank_Line_CC!'
select b_id,Bank_Name,Issued_Date,Type_of_Loan,Rate,Amount,No_Of_Days,CASE 
        WHEN Due_Date = '-   ' THEN NULL 
        ELSE Due_Date 
    END AS Due_Date,b_createddate from tbl_Bank_Line_CC
where b_createddate in (select TOP 1  b_createddate
  from [dbo].[tbl_Bank_Line_CC] where FileDate=@date  order by  b_createddate desc) and  FileDate=@date
commit TRAN GetBank_Line_CC
END TRY
BEGIN CATCH
RollBack TRAN GetBank_Line_CC
 SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
 END CATCH
  SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail
end

if @operationType='GetBank_Line_WCL'
begin
  begin TRY
begin TRAN GetBank_Line_WCL
SET @OutcomeId = 1 SET @OutcomeDetail ='Bank_Line_WCL!'
select  b_id,Bank_Name,Issued_Date,Type_of_Loan,convert(decimal(4,2),Rate) as Rate,CAST(Amount AS FLOAT) / 10000000 as Amount,No_Of_Days,Due_Date,b_createddate from tbl_Bank_Line_WCL
where b_createddate in (select TOP 1  b_createddate
  from [dbo].[tbl_Bank_Line_WCL] where FileDate=@date  order by  b_createddate desc) and  FileDate=@date
order by b_createddate DESC

commit TRAN GetBank_Line_WCL
END TRY
BEGIN CATCH
RollBack TRAN GetBank_Line_WCL
 SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
 END CATCH
  SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail
end

if @operationType='GetFOREX'
begin
  begin TRY
begin TRAN GetFOREX
SET @OutcomeId = 1 SET @OutcomeDetail ='FOREX!'
select b_id,SBI_LONDON,convert(decimal(18,2),reference_rate) as reference_rate,ROUND(CAST(OUTSTANDING AS FLOAT) / 10000000, 2) AS OUTSTANDING,convert(decimal(18,2),CONVERSION_RATE) as CONVERSION_RATE,ROUND(CAST(INR_OS AS FLOAT) / 10000000, 2) AS INR_OS, ROUND(CAST(USD_Equiv_OS AS FLOAT) / 10000000, 2) AS USD_Equiv_OS,Limit,b_createddate from tbl_FOREX
where b_createddate in (select TOP 1  b_createddate
  from [dbo].[tbl_FOREX] where FileDate=@date  order by  b_createddate desc) and  FileDate=@date
commit TRAN GetFOREX
END TRY
BEGIN CATCH
RollBack TRAN GetFOREX
 SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
 END CATCH
  SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail
end

if @operationType='DeleteDoc'
begin
  begin TRY
begin TRAN DeleteDoc
SET @OutcomeId = 1 SET @OutcomeDetail ='Document Deleted Successfully!'
delete from [dbo].[tbl_BorroAndRFR] where rb_id=@rb_id
if @rb_doctype='TIER_II_BOND'
begin
delete from tbl_TIER_II_BOND where batchid = @batchid
end
if @rb_doctype='Commercial_Paper'
begin
delete from tbl_Commercial_Paper where batchid = @batchid
end
if @rb_doctype='Bank_Line_CC'
begin
delete from tbl_Bank_Line_CC where batchid = @batchid
end
if @rb_doctype='Bank_Line_WCL'
begin
delete from tbl_Bank_Line_WCL where batchid = @batchid
end
if @rb_doctype='FOREX'
begin
delete from tbl_FOREX where  batchid = @batchid
end
if @rb_doctype='RFR'
begin
delete from tbl_RFRDoc  WHERE batchid = @batchid
end
commit TRAN DeleteDoc
END TRY
BEGIN CATCH
RollBack TRAN DeleteDoc
 SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
 END CATCH
  SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail
    SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail

end


end