USE [sbigeneral]
GO
/****** Object:  StoredProcedure [dbo].[proc_CustomerDash]    Script Date: 14-05-2024 16:02:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER procedure [dbo].[proc_CustomerDash]
(
@Id uniqueidentifier = NULL ,
@UserId uniqueidentifier = NULL ,
@date date =null,
@OperationType varchar(100) = NULL,
@filed varchar(200) =null,
@FileDate2 varchar(200) =null,
@OutcomeId int  = NULL  OUT,
@OutcomeDetail varchar(4000) = null out
)
as
begin
	If @OperationType='GetFIU_Turnover'
	begin
	BEGIN TRY
		BEGIN TRAN GetFIU_Turnover SET @OutcomeId = 1 SET @OutcomeDetail ='FIU_Turnover';
				select  top 1 @FileDate2=FileDate From tbl_Portfolio_analisys where filedate<@filed order by filedate desc
		if @filed is null 
		begin
	select TOP 1 @filed = CONVERT(VARCHAR(20), FileDate, 120) 
  from [dbo].[tbl_Portfolio_analisys] order by  FileDate desc;
   SELECT @FileDate2=ConvertedDate FROM (
    SELECT CONVERT(VARCHAR(20), FileDate, 120) AS ConvertedDate,
           ROW_NUMBER() OVER (ORDER BY FileDate DESC) AS RowNum
    FROM [dbo].[tbl_Portfolio_analisys]
    GROUP BY FileDate
) AS SubQuery
WHERE RowNum = 2;
  end;
	 (SELECT 
	 'Turnover' as Particulars,
	 '5544' as col_5,
        SUM(CASE WHEN CONVERT(date, FileDate) =@filed THEN CAST(AMOUNT_MTD_CR AS DECIMAL(18,2)) ELSE 0 END) AS col_4, --TodayCount,
         SUM(CASE WHEN CONVERT(date, FileDate) =@FileDate2 THEN CAST(AMOUNT_MTD_CR AS DECIMAL(18,2)) ELSE 0 END)  AS col_3,-- YesterdayCount,
        --SUM(CASE WHEN MONTH(FileDate) = MONTH(DATEADD(MONTH, -1, @filed)) AND YEAR(FileDate) = YEAR(DATEADD(MONTH, -1, @filed)) THEN CAST(AMOUNT_MTD_CR AS DECIMAL) ELSE 0 END) AS col_2,--LastMonthCount,
		SUM(CASE WHEN FileDate =  EOMONTH(DATEADD(MONTH, -1, @filed)) THEN CAST(AMOUNT_MTD_CR AS DECIMAL(18,2)) ELSE 0 END) AS col_2,
       -- MAX(CASE WHEN CONVERT(date, FileDate) = CONVERT(date, @filed) THEN CONVERT(date, @filed) END) AS LastDate,
        --SUM(CASE WHEN FileDate =  EOMONTH(DATEFROMPARTS(YEAR(@filed) - 1, 3, 1)) THEN CAST(AMOUNT_MTD_CR AS DECIMAL(18,2)) ELSE 0 END) AS col_1--LastYearCount
		
			   SUM(
    CASE 
        WHEN MONTH(@filed) >= 4  -- If @filed is April or later
        THEN
            CASE 
                WHEN FileDate =  EOMONTH(DATEFROMPARTS(YEAR(@filed) , 3, 1))
                THEN CAST(AMOUNT_MTD_CR AS DECIMAL(18,2)) 
                ELSE 0 
            END
        ELSE  -- If @filed is March or earlier
            CASE 
                WHEN FileDate =  EOMONTH(DATEFROMPARTS(YEAR(@filed) - 1, 3, 1))
                THEN CAST(AMOUNT_MTD_CR AS DECIMAL(18,2)) 
                ELSE 0 
            END
    END
) AS col_1
    FROM 
        tbl_Portfolio_analisys)
		union
		 (SELECT 
	 'Performing FIU' as Particulars,
	 '1242' as col_5,
        SUM(CASE WHEN CONVERT(date, FileDate) =@filed THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END) AS col_4,--TodayCount,
         SUM(CASE WHEN CONVERT(date, FileDate) =@FileDate2 THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END)  AS col_3,-- YesterdayCount,
        --SUM(CASE WHEN MONTH(FileDate) = MONTH(DATEADD(MONTH, -1, @filed)) AND YEAR(FileDate) = YEAR(DATEADD(MONTH, -1, @filed)) THEN CAST(FIU_IN_CR AS DECIMAL) ELSE 0 END) AS col_2,--LastMonthCount,
		SUM(CASE WHEN FileDate =  EOMONTH(DATEADD(MONTH, -1, @filed)) THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END) AS col_2,--LastYearCount
       -- MAX(CASE WHEN CONVERT(date, FileDate) = CONVERT(date, @filed) THEN CONVERT(date, @filed) END) AS LastDate,
       -- SUM(CASE WHEN FileDate =  EOMONTH(DATEFROMPARTS(YEAR(@filed) - 1, 3, 1)) THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END) AS col_1--LastYearCount
	    SUM(
    CASE 
        WHEN MONTH(@filed) >= 4  -- If @filed is April or later
        THEN
            CASE 
                WHEN FileDate =  EOMONTH(DATEFROMPARTS(YEAR(@filed) , 3, 1))
                THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) 
                ELSE 0 
            END
        ELSE  -- If @filed is March or earlier
            CASE 
                WHEN FileDate =  EOMONTH(DATEFROMPARTS(YEAR(@filed) - 1, 3, 1))
                THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) 
                ELSE 0 
            END
    END
) AS col_1
    FROM 
        tbl_Portfolio_analisys where  CLIENT_NPA='0' )
		union
		 (SELECT 
	 'DF FIU' as Particulars,
	 '408' as col_5,
        SUM(CASE WHEN CONVERT(date, FileDate) =@filed THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END) AS col_4,--TodayCount,
         SUM(CASE WHEN CONVERT(date, FileDate) =@FileDate2 THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END)  AS col_3,-- YesterdayCount,
        --SUM(CASE WHEN MONTH(FileDate) = MONTH(DATEADD(MONTH, -1, @filed)) AND YEAR(FileDate) = YEAR(DATEADD(MONTH, -1, @filed)) THEN CAST(FIU_IN_CR AS DECIMAL) ELSE 0 END) AS col_2,--LastMonthCount,
       -- MAX(CASE WHEN CONVERT(date, FileDate) = CONVERT(date, @filed) THEN CONVERT(date, @filed) END) AS LastDate,
	   SUM(CASE WHEN FileDate =  EOMONTH(DATEADD(MONTH, -1, @filed)) THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END) AS col_2,--LastMonth
        --SUM(CASE WHEN FileDate =  EOMONTH(DATEFROMPARTS(YEAR(@filed) - 1, 3, 1)) THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END) AS col_1--LastYearCount
		 SUM(
    CASE 
        WHEN MONTH(@filed) >= 4  -- If @filed is April or later
        THEN
            CASE 
                WHEN FileDate =  EOMONTH(DATEFROMPARTS(YEAR(@filed) , 3, 1))
                THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) 
                ELSE 0 
            END
        ELSE  -- If @filed is March or earlier
            CASE 
                WHEN FileDate =  EOMONTH(DATEFROMPARTS(YEAR(@filed) - 1, 3, 1))
                THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) 
                ELSE 0 
            END
    END
) AS col_1
    FROM 
        tbl_Portfolio_analisys
    WHERE 
        BUS_TYPE = 'DF' and CLIENT_NPA='0' )
		union
		 (SELECT 
	 'EF FIU' as Particulars,
	 '57' as col_5,
         SUM(CASE WHEN CONVERT(date, FileDate) =@filed THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END) AS col_4,--TodayCount,
         SUM(CASE WHEN CONVERT(date, FileDate) =@FileDate2 THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END)  AS col_3,-- YesterdayCount,
        --SUM(CASE WHEN MONTH(FileDate) = MONTH(DATEADD(MONTH, -1, @filed)) AND YEAR(FileDate) = YEAR(DATEADD(MONTH, -1, @filed)) THEN CAST(FIU_IN_CR AS DECIMAL) ELSE 0 END) AS col_2,--LastMonthCount,
       	   SUM(CASE WHEN FileDate =  EOMONTH(DATEADD(MONTH, -1, @filed)) THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END) AS col_2,--LastMonth
	   -- MAX(CASE WHEN CONVERT(date, FileDate) = CONVERT(date, @filed) THEN CONVERT(date, @filed) END) AS LastDate,
       -- SUM(CASE WHEN FileDate =  EOMONTH(DATEFROMPARTS(YEAR(@filed) - 1, 3, 1)) THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END) AS col_1--LastYearCount
	    SUM(
    CASE 
        WHEN MONTH(@filed) >= 4  -- If @filed is April or later
        THEN
            CASE 
                WHEN FileDate =  EOMONTH(DATEFROMPARTS(YEAR(@filed) , 3, 1))
                THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) 
                ELSE 0 
            END
        ELSE  -- If @filed is March or earlier
            CASE 
                WHEN FileDate =  EOMONTH(DATEFROMPARTS(YEAR(@filed) - 1, 3, 1))
                THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) 
                ELSE 0 
            END
    END
) AS col_1
    FROM 
        tbl_Portfolio_analisys
    WHERE 
        BUS_TYPE = 'EF' and CLIENT_NPA='0'  )
		
		union
		 (SELECT 
	 'RF' as Particulars,
	 '62' as col_5,
         SUM(CASE WHEN CONVERT(date, FileDate) =@filed THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END) AS col_4,--TodayCount,
        --SUM(CASE WHEN CONVERT(date, FileDate) = CONVERT(date, DATEADD(day, -1, @filed)) THEN CAST(FIU_IN_CR AS DECIMAL) ELSE 0 END) AS col_3,--YesterdayCount,
		         SUM(CASE WHEN CONVERT(date, FileDate) =@FileDate2 THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END)  AS col_3,-- YesterdayCount,

              	   SUM(CASE WHEN FileDate =  EOMONTH(DATEADD(MONTH, -1, @filed)) THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END) AS col_2,--LastMonth 
       -- MAX(CASE WHEN CONVERT(date, FileDate) = CONVERT(date, @filed) THEN CONVERT(date, @filed) END) AS LastDate,
       -- SUM(CASE WHEN FileDate =  EOMONTH(DATEFROMPARTS(YEAR(@filed) - 1, 3, 1)) THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END) AS col_1--LastYearCount
	    SUM(
    CASE 
        WHEN MONTH(@filed) >= 4  -- If @filed is April or later
        THEN
            CASE 
                WHEN FileDate =  EOMONTH(DATEFROMPARTS(YEAR(@filed) , 3, 1))
                THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) 
                ELSE 0 
            END
        ELSE  -- If @filed is March or earlier
            CASE 
                WHEN FileDate =  EOMONTH(DATEFROMPARTS(YEAR(@filed) - 1, 3, 1))
                THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) 
                ELSE 0 
            END
    END
) AS col_1
    FROM 
        tbl_Portfolio_analisys
    WHERE 
        BUS_TYPE_NEW = 'RF' and CLIENT_NPA='0' )
		union
		 (SELECT 
	 'Treds' as Particulars,
	 '454' as col_5,
         SUM(CASE WHEN CONVERT(date, FileDate) =@filed THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END) AS col_4,--TodayCount,
         SUM(CASE WHEN CONVERT(date, FileDate) =@FileDate2 THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END)  AS col_3,-- YesterdayCount,
        --SUM(CASE WHEN MONTH(FileDate) = MONTH(DATEADD(MONTH, -1, @filed)) AND YEAR(FileDate) = YEAR(DATEADD(MONTH, -1, @filed)) THEN CAST(FIU_IN_CR AS DECIMAL) ELSE 0 END) AS col_2,--LastMonthCount,
             	   SUM(CASE WHEN FileDate =  EOMONTH(DATEADD(MONTH, -1, @filed)) THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END) AS col_2,--LastMonth
	  -- MAX(CASE WHEN CONVERT(date, FileDate) = CONVERT(date, @filed) THEN CONVERT(date, @filed) END) AS LastDate,
      --  SUM(CASE WHEN FileDate =  EOMONTH(DATEFROMPARTS(YEAR(@filed) - 1, 3, 1)) THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END) AS col_1--LastYearCount
	   SUM(
    CASE 
        WHEN MONTH(@filed) >= 4  -- If @filed is April or later
        THEN
            CASE 
                WHEN FileDate =  EOMONTH(DATEFROMPARTS(YEAR(@filed) , 3, 1))
                THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) 
                ELSE 0 
            END
        ELSE  -- If @filed is March or earlier
            CASE 
                WHEN FileDate =  EOMONTH(DATEFROMPARTS(YEAR(@filed) - 1, 3, 1))
                THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) 
                ELSE 0 
            END
    END
) AS col_1
    FROM 
        tbl_Portfolio_analisys
    WHERE 
        BUS_TYPE_NEW = 'TREDS' and CLIENT_NPA='0' )
		union
		 (SELECT 
	 'LC' as Particulars,
	 '61' as col_5,
        SUM(CASE WHEN CONVERT(date, FileDate) =@filed THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END) AS col_4,--TodayCount,
         SUM(CASE WHEN CONVERT(date, FileDate) =@FileDate2 THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END)  AS col_3,-- YesterdayCount,
       -- SUM(CASE WHEN MONTH(FileDate) = MONTH(DATEADD(MONTH, -1, @filed)) AND YEAR(FileDate) = YEAR(DATEADD(MONTH, -1, @filed)) THEN CAST(FIU_IN_CR AS DECIMAL) ELSE 0 END) AS col_2,--LastMonthCount,
       	   SUM(CASE WHEN FileDate =  EOMONTH(DATEADD(MONTH, -1, @filed)) THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END) AS col_2,--LastMonth
	   -- MAX(CASE WHEN CONVERT(date, FileDate) = CONVERT(date, @filed) THEN CONVERT(date, @filed) END) AS LastDate,
        --SUM(CASE WHEN FileDate =  EOMONTH(DATEFROMPARTS(YEAR(@filed) - 1, 3, 1)) THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END) AS col_1--LastYearCount
		 SUM(
    CASE 
        WHEN MONTH(@filed) >= 4  -- If @filed is April or later
        THEN
            CASE 
                WHEN FileDate =  EOMONTH(DATEFROMPARTS(YEAR(@filed) , 3, 1))
                THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) 
                ELSE 0 
            END
        ELSE  -- If @filed is March or earlier
            CASE 
                WHEN FileDate =  EOMONTH(DATEFROMPARTS(YEAR(@filed) - 1, 3, 1))
                THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) 
                ELSE 0 
            END
    END
) AS col_1
    FROM 
        tbl_Portfolio_analisys
    WHERE 
        BUS_TYPE_NEW = 'LCDM' and CLIENT_NPA='0'  )
		union
		 (SELECT 
	 'Gold Pool' as Particulars,
	 '200' as col_5,
         SUM(CASE WHEN CONVERT(date, FileDate) =@filed THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END) AS col_4,--TodayCount,
         SUM(CASE WHEN CONVERT(date, FileDate) =@FileDate2 THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END)  AS col_3,-- YesterdayCount,
             	   SUM(CASE WHEN FileDate =  EOMONTH(DATEADD(MONTH, -1, @filed)) THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END) AS col_2,--LastMonth
	  --SUM(CASE WHEN MONTH(FileDate) = MONTH(DATEADD(MONTH, -1, @filed)) AND YEAR(FileDate) = YEAR(DATEADD(MONTH, -1, @filed)) THEN CAST(FIU_IN_CR AS DECIMAL) ELSE 0 END) AS col_2,--LastMonthCount,
       -- MAX(CASE WHEN CONVERT(date, FileDate) = CONVERT(date, @filed) THEN CONVERT(date, @filed) END) AS LastDate,
       -- SUM(CASE WHEN FileDate =  EOMONTH(DATEFROMPARTS(YEAR(@filed) - 1, 3, 1)) THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END) AS col_1--LastYearCount
	    SUM(
    CASE 
        WHEN MONTH(@filed) >= 4  -- If @filed is April or later
        THEN
            CASE 
                WHEN FileDate =  EOMONTH(DATEFROMPARTS(YEAR(@filed) , 3, 1))
                THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) 
                ELSE 0 
            END
        ELSE  -- If @filed is March or earlier
            CASE 
                WHEN FileDate =  EOMONTH(DATEFROMPARTS(YEAR(@filed) - 1, 3, 1))
                THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) 
                ELSE 0 
            END
    END
) AS col_1
    FROM 
        tbl_Portfolio_analisys
    WHERE 
        BUS_TYPE_NEW = 'GOLD POOL' and CLIENT_NPA='0'  )
	COMMIT TRAN GetFIU_Turnover
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN GetFIU_Turnover

        SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
		
    END CATCH
	 SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail;
	 end
	 If @OperationType='GetFIU_Outstanding'
	begin
	BEGIN TRY
		BEGIN TRAN GetFIU_Outstanding SET @OutcomeId = 1 SET @OutcomeDetail ='FIU_Outstanding';
		select  top 1 @FileDate2=FileDate From tbl_Portfolio_analisys where filedate<@filed order by filedate desc
		if @filed is null 
		begin
select TOP 1 @filed = CONVERT(VARCHAR(20), FileDate, 120) 
  from [dbo].[tbl_Portfolio_analisys] order by  FileDate desc;

   SELECT @FileDate2=ConvertedDate FROM (
    SELECT CONVERT(VARCHAR(20), FileDate, 120) AS ConvertedDate,
           ROW_NUMBER() OVER (ORDER BY FileDate DESC) AS RowNum
    FROM [dbo].[tbl_Portfolio_analisys]
    GROUP BY FileDate
) AS SubQuery
WHERE RowNum = 2;
  end;
			 WITH DateCounts AS (
    SELECT 
        CLIENT_AREA_NEW,
			@filed as filedate,
        SUM(CASE WHEN CONVERT(date, FileDate) =@filed THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END) AS TodayCount,
		        SUM(CASE WHEN CONVERT(date, FileDate) =@FileDate2 THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END) AS YesterdayCount,
        --SUM(CASE WHEN CONVERT(date, FileDate) = CONVERT(date, DATEADD(day, -1, @filed)) THEN CAST(FIU_IN_CR AS DECIMAL) ELSE 0 END) AS YesterdayCount,
       SUM(CASE WHEN FileDate =  EOMONTH(DATEADD(MONTH, -1, @filed)) THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END) AS LastMonthCount,
        MAX(CASE WHEN CONVERT(date, FileDate) = CONVERT(date, @filed) THEN CONVERT(date, FileDate) END) AS LastDate,
        --SUM(CASE WHEN FileDate =  EOMONTH(DATEFROMPARTS(YEAR(@filed) - 1, 3, 1)) THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END) AS LastYearCount
		SUM(
    CASE 
        WHEN MONTH(@filed) >= 4  -- If @filed is April or later
        THEN
            CASE 
                WHEN FileDate =  EOMONTH(DATEFROMPARTS(YEAR(@filed) , 3, 1))
                THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) 
                ELSE 0 
            END
        ELSE  -- If @filed is March or earlier
            CASE 
                WHEN FileDate =  EOMONTH(DATEFROMPARTS(YEAR(@filed) - 1, 3, 1))
                THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) 
                ELSE 0 
            END
    END
) AS LastYearCount,
SUM(CASE WHEN FileDate =  EOMONTH(DATEADD(MONTH, -1, '2023-03-31')) THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END) AS LastYearMarch
    FROM 
        tbl_Portfolio_analisys
    WHERE 
        BUS_TYPE_NEW = 'LCDM' and CLIENT_AREA_NEW is not null and CLIENT_AREA not in ('KOI','HUB','VKP')
    GROUP BY 
        CLIENT_AREA_NEW
)
SELECT 
    CLIENT_AREA_NEW as Particulars,
        TodayCount as col_4,
    YesterdayCount as col_3,
    LastMonthCount as col_2,
    --(SELECT COUNT(FIU_IN_CR) FROM tbl_Portfolio_analisys WHERE CONVERT(date, FileDate) = CONVERT(date, LastDate) AND BUS_TYPE_NEW = 'LCDM') AS LastDateCount,
    LastYearCount as col_1,
	@filed as filedate,@FileDate2 as FileDate2
FROM 
    DateCounts order by TodayCount desc;
		COMMIT TRAN GetFIU_Outstanding
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN GetFIU_Outstanding

        SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
		
    END CATCH
	 SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail;
	 end

	 If @OperationType='GetBranchwise_FIU'
	begin
	BEGIN TRY
		BEGIN TRAN GetBranchwise_FIU SET @OutcomeId = 1 SET @OutcomeDetail ='Branchwise_FIU';
if @filed is null 
		begin
select TOP 1 @filed = CONVERT(VARCHAR(20), FileDate, 120) 
  from [dbo].[tbl_Portfolio_analisys] order by  FileDate desc;
  end;
			 WITH DateCounts AS (
    SELECT 
        CLIENT_AREA,
        SUM(CASE WHEN CONVERT(date, FileDate) =@filed THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END) AS TodayCount,
               --SUM(CASE WHEN FileDate =  EOMONTH(DATEFROMPARTS(YEAR(@filed) - 1, 3, 1)) THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) ELSE 0 END) AS LastyearCount,
			   SUM(
    CASE 
        WHEN MONTH(@filed) >= 4  -- If @filed is April or later
        THEN
            CASE 
                WHEN FileDate =  EOMONTH(DATEFROMPARTS(YEAR(@filed) , 3, 1))
                THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) 
                ELSE 0 
            END
        ELSE  -- If @filed is March or earlier
            CASE 
                WHEN FileDate =  EOMONTH(DATEFROMPARTS(YEAR(@filed) - 1, 3, 1))
                THEN CAST(FIU_IN_CR AS DECIMAL(18,2)) 
                ELSE 0 
            END
    END
) AS LastYearCount,
		bf_estimatedval,bf_mar
    FROM 
        dbo.tbl_Portfolio_analisys inner join sbigeneral.tbl_Branchwise_FIU on sbigeneral.tbl_Branchwise_FIU.bf_subname=tbl_Portfolio_analisys.CLIENT_AREA_NEW and @filed BETWEEN sbigeneral.tbl_Branchwise_FIU.bf_fromdate AND sbigeneral.tbl_Branchwise_FIU.bf_todate
    WHERE 
        BUS_TYPE in('DF','EF','RF') and CLIENT_AREA is not null and client_NPA='0' and subproducttype='NA' and CLIENT_AREA_NEW not in ('KOI','HUB','VKP')
    GROUP BY 
        CLIENT_AREA,bf_estimatedval,bf_mar
)
SELECT 
    CLIENT_AREA as Particulars,
        TodayCount as col_2,
    LastYearCount as col_1,
--cast(FORMAT(ROUND((((TodayCount - LastMonthCount) / LastMonthCount) * 100), 2),'0.##') as decimal) AS col_3,
cast((((TodayCount - LastYearCount) / LastYearCount) * 100) as decimal(18,2)) AS col_3,

    round(bf_estimatedval,2) as col_4,
	bf_mar as col_5,
	@filed as filedate
FROM 
    DateCounts order by col_3  desc;	
		COMMIT TRAN GetBranchwise_FIU
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN GetBranchwise_FIU

        SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
		
    END CATCH
	 SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail;
	 end
	
end

