USE [sbigeneral]
GO
/****** Object:  StoredProcedure [dbo].[proc_BDDashboard]    Script Date: 21-05-2024 10:42:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER procedure [dbo].[proc_BDDashboard]
(
@Id uniqueidentifier = NULL ,
@UserId uniqueidentifier = NULL ,
@date date =null,
@OperationType varchar(100) = NULL,
@filed varchar(200) =null,
@FileDate2 varchar(200) =null,
@OutcomeId int  = NULL  OUT,
@OutcomeDetail varchar(4000) = null out
)
as
begin
	If @OperationType='GetSummary'
	begin
	BEGIN TRY
		BEGIN TRAN GetSummary SET @OutcomeId = 1 SET @OutcomeDetail ='BusinessDevlopment';
		if @filed is null 
		begin
	select TOP 1 @filed = CONVERT(VARCHAR(20), bd_date, 120) 
  from [dbo].[tbl_Summary] order by  bd_date desc;
  end;
  select Branch,NBOStageNo,NBOStageLimit,FSAStageNo,FSAStageLimit,PWithBranchesNo,PWithBranchesLimit,withcreditNo,withcreditLimit,sanctionedInNo,sanctionedInLimit,DisbursalsNumber,DisbursalsAmount,DisbursalsByDate,DisbursalsinAccounts,bd_date
  from tbl_Summary where bd_date=@filed
		COMMIT TRAN GetSummary
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN GetSummary

        SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
		
    END CATCH
	 SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail;
	 end

If @OperationType='GetNBO'
	begin
	BEGIN TRY
		BEGIN TRAN GetNBO SET @OutcomeId = 1 SET @OutcomeDetail ='BusinessDevlopment';
		if @filed is null 
		begin
	select TOP 1 @filed = CONVERT(VARCHAR(20), bd_date, 120) 
  from [dbo].[tbl_NBO] order by  bd_date desc;
  end;
  select [Location],BDM,Client,Proposed_Limit,Facility,Stage,NBO_Issued_date,NBO_acceptance_date,Updates,bd_date  from tbl_NBO where bd_date=@filed
		COMMIT TRAN GetNBO
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN GetNBO

        SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
		
    END CATCH
	 SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail;
	 end	

	 If @OperationType='GetFSA'
	begin
	BEGIN TRY
		BEGIN TRAN GetFSA SET @OutcomeId = 1 SET @OutcomeDetail ='BusinessDevlopment';
		if @filed is null 
		begin
	select TOP 1 @filed = CONVERT(VARCHAR(20), bd_date, 120) 
  from [dbo].[tbl_FSA] order by  bd_date desc;
  end;
  select [Location],BDM,Client,Proposed_Limit,Facility,Stage,FSA_in_date,FSA_comp_date,Timelime_Pushing_credit,Updates,bd_date  from tbl_FSA where bd_date=@filed
		COMMIT TRAN GetFSA
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN GetFSA

        SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
		
    END CATCH
	 SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail;
	 end	

	 If @OperationType='GetWithCredit'
	begin
	BEGIN TRY
		BEGIN TRAN GetWithCredit SET @OutcomeId = 1 SET @OutcomeDetail ='BusinessDevlopment';
		if @filed is null 
		begin
	select TOP 1 @filed = CONVERT(VARCHAR(20), bd_date, 120) 
  from [dbo].[tbl_WithCredit] order by  bd_date desc;
  end;
  select [Location],BDM,Client,Credit_officer,Proposed_Limit,Debtors,Date_of_submission,Days_Credit,[Level],Updates,bd_date  from tbl_WithCredit where bd_date=@filed
		COMMIT TRAN GetWithCredit
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN GetWithCredit

        SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
		
    END CATCH
	 SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail;
	 end	

	 If @OperationType='GetSanctioned'
	begin
	BEGIN TRY
		BEGIN TRAN GetSanctioned SET @OutcomeId = 1 SET @OutcomeDetail ='BusinessDevlopment';
		if @filed is null 
		begin
	select TOP 1 @filed = CONVERT(VARCHAR(20), bd_date, 120) 
  from [dbo].[tbl_Sanctioned] order by  bd_date desc;
  end;
  select [Location],Client,sanctioned_Limit,Facility,[Month],Activation_Date,Sanctioned_on,Updates,bd_date from tbl_Sanctioned where bd_date=@filed
		COMMIT TRAN GetSanctioned
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN GetSanctioned

        SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
		
    END CATCH
	 SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail;
	 end	

	 If @OperationType='GetDisbursalNew'
	begin
	BEGIN TRY
		BEGIN TRAN GetDisbursalNew SET @OutcomeId = 1 SET @OutcomeDetail ='BusinessDevlopment';
		if @filed is null 
		begin
	select TOP 1 @filed = CONVERT(VARCHAR(20), bd_date, 120) 
  from [dbo].[tbl_DisbursalNew] order by  bd_date desc;
  end;
  select [Location],Client,Sanctioned_Limit,Sanctioned_date,Facility,Disbursal_Amount,Expected_By,Remark,Updates  from tbl_DisbursalNew where bd_date=@filed
		COMMIT TRAN GetDisbursalNew
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN GetDisbursalNew

        SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
		
    END CATCH
	 SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail;
	 end	


	 If @OperationType='GetBDSummary'
	begin
	BEGIN TRY
		BEGIN TRAN GetSummary SET @OutcomeId = 1 SET @OutcomeDetail ='BusinessDevlopment';
		if @filed is null 
		begin
	select TOP 1 @filed = CONVERT(VARCHAR(20), bd_date, 120) 
  from [dbo].[tbl_BDSummary] order by  bd_date desc;
  end;
  select Branch,NewEPSCNo,NewEPSCLimit,NewSancNo,NewSancLimit,ActNo,ActLimit,SancActNo,SancActLimit,ProCrNo,ProCrLimit,ProBrNo,ProBrlimit,EstFIU,bd_date
  from tbl_BDSummary where bd_date=@filed


		COMMIT TRAN GetSummary
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN GetSummary

        SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
		
    END CATCH
	 SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail;
	 end

	 	 If @OperationType='GetBDCredit'
	begin
	BEGIN TRY
		BEGIN TRAN GetWithCredit SET @OutcomeId = 1 SET @OutcomeDetail ='BusinessDevlopment';
		if @filed is null 
		begin
	select TOP 1 @filed = CONVERT(VARCHAR(20), bd_date, 120) 
  from [dbo].[tbl_BDSubToCr] order by  bd_date desc;
  end;
  select NameOfClient,NewExist,Status,Facility,FLS,CONVERT(VARCHAR(20), Sub_date, 120) as Sub_date,CreditAnalyst,CreditPriority,ExpDis,Remarks,bd_date  from tbl_BDSubToCr where bd_date=@filed


		COMMIT TRAN GetWithCredit
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN GetWithCredit

        SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
		
    END CATCH
	 SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail;
	 end	

	 	 If @OperationType='GetBDSanctioned'
	begin
	BEGIN TRY
		BEGIN TRAN GetSanctioned SET @OutcomeId = 1 SET @OutcomeDetail ='BusinessDevlopment';
		if @filed is null 
		begin
	select TOP 1 @filed = CONVERT(VARCHAR(20), bd_date, 120) 
  from [dbo].[tbl_BDSanctioned] order by  bd_date desc;
  end;
  select Branch,NameOfClient,NewExist,Status,Facility,FLS,CONVERT(VARCHAR(20), Sub_date, 120) as Sub_date,CreditAnalyst,CreditPriority,CONVERT(VARCHAR(20), SanDate, 120) as SanDate,ExpDis,Remarks,bd_date from tbl_BDSanctioned where bd_date=@filed
		COMMIT TRAN GetSanctioned
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN GetSanctioned

        SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
		
    END CATCH
	 SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail;
	 end	

	 	 If @OperationType='GetBDQueryResolve'
	begin
	BEGIN TRY
		BEGIN TRAN GetDisbursalNew SET @OutcomeId = 1 SET @OutcomeDetail ='BusinessDevlopment';
		if @filed is null 
		begin
	select TOP 1 @filed = CONVERT(VARCHAR(20), bd_date, 120) 
  from [dbo].[tbl_BDBrQuRl] order by  bd_date desc;
  end;
  select Branch,NameOfClient,NewExist,Status,Facility,FLS,CONVERT(VARCHAR(20), Sub_date, 120) as Sub_date,CreditAnalyst,CreditPriority,ExpDis,Remarks  from tbl_BDBrQuRl where bd_date=@filed
		COMMIT TRAN GetDisbursalNew
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN GetDisbursalNew

        SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
		
    END CATCH
	 SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail;
	 end	
end

