USE [sbigeneral]
GO
/****** Object:  StoredProcedure [dbo].[proc_AccountDash]    Script Date: 31-07-2024 14:36:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[proc_AccountDash]
(
@Id uniqueidentifier = NULL ,
@UserId uniqueidentifier = NULL ,
@date date =null,
@filed date =null,
@OperationType varchar(100) = NULL,
@OutcomeId int  = NULL  OUT,
@OutcomeDetail varchar(4000) = null out
)
as
begin
	If @OperationType='GetEffratio'
	begin
	BEGIN TRY
		BEGIN TRAN GetAlleffratio SET @OutcomeId = 1 SET @OutcomeDetail ='Efficiency Ratio'
		if(@date is null)
		begin
		select top 1 @date=e_date from tbl_effratio order by e_date desc
		end
			select e_id,e_date,isnull(e_particulars,'') as e_particulars,isnull(e_col1,'') as col1,isnull(e_col2,'') as col2 ,isnull(e_col3,'') as col3,isnull(e_col4,'') as col4,isnull(e_col5,'') as col5,isnull(e_col6,'') as col6,isnull(e_col7,'') as col7
			,isnull(e_col8,'') as col8,isnull(e_col9,'') as col9,isnull(e_col10,'') as col10,isnull(e_col11,'') as col11,isnull(e_col12,'') as col12,isnull(e_col13,'') as col13,isnull(e_col14,'') as col14 from tbl_effratio where e_date=@date
		COMMIT TRAN GetAlleffratio
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN GetAlleffratio

        SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
		
    END CATCH
	 SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail;
	 end
	 If @OperationType='GetHighlights'
	begin
	BEGIN TRY
		BEGIN TRAN GetHighlights SET @OutcomeId = 1 SET @OutcomeDetail ='Highlights'
		if(@date is null)
		begin
		select top 1 @date=h_date from tbl_acc_highlights order by h_date desc
		end
			 select h_id,h_date,isnull(h_particulars,'') as h_particulars,isnull(h_col1,'') as col1,isnull(h_col2,'') as col2 ,isnull(h_col3,'') as col3,isnull(h_col4,'') as col4,isnull(h_col5,'') as col5,isnull(h_col6,'') as col6,isnull(h_col7,'') as col7
			,isnull(h_col8,'') as col8,isnull(h_col9,'') as col9,isnull(h_col10,'') as col10,isnull(h_col11,'') as col11,isnull(h_col12,'') as col12,isnull(h_col13,'') as col13,isnull(h_col14,'') as col14  from tbl_acc_highlights where h_date=@date
		COMMIT TRAN GetHighlights
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN GetHighlights

        SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
		
    END CATCH
	 SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail;
	 end
	 If @OperationType='GetYeild'
	begin
	BEGIN TRY
		BEGIN TRAN GetYeild SET @OutcomeId = 1 SET @OutcomeDetail ='Yield'
		if(@date is null)
		begin
		select top 1 @date=y_date from tbl_acc_yeild order by y_date desc
		end
			 select y_id,y_date,isnull(y_particulars,'') as y_particulars,isnull(y_col1,'') as col1,isnull(y_col2,'') as col2 ,isnull(y_col3,'') as col3,isnull(y_col4,'') as col4,isnull(y_col5,'') as col5,isnull(y_col6,'') as col6,isnull(y_col7,'') as col7
			,isnull(y_col8,'') as col8,isnull(y_col9,'') as col9,isnull(y_col10,'') as col10,isnull(y_col11,'') as col11,isnull(y_col12,'') as col12,isnull(y_col13,'') as col13,isnull(y_col14,'') as col14 from tbl_acc_yeild where y_date=@date

		COMMIT TRAN GetYeild
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN GetYeild

        SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
		
    END CATCH
	 SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail;
	 end
	 If @OperationType='GetFinhighlights'
	begin
	BEGIN TRY
		BEGIN TRAN GetFinhighlights SET @OutcomeId = 1 SET @OutcomeDetail ='Financial Highlights'
		if(@date is null)
		begin
		select top 1 @date=f_date from tbl_finhighlights order by f_date desc
		end
			 select f_id,f_date,isnull(f_particulars,'') as f_particulars,isnull(f_col1,'') as col1,isnull(f_col2,'') as col2 ,isnull(f_col3,'') as col3,isnull(f_col4,'') as col4,isnull(f_col5,'') as col5,isnull(f_col6,'') as col6,isnull(f_col7,'') as col7
			,isnull(f_col8,'') as col8,isnull(f_col9,'') as col9,isnull(f_col10,'') as col10,isnull(f_col11,'') as col11,isnull(f_col12,'') as col12,isnull(f_col13,'') as col13,isnull(f_col14,'') as col14 from tbl_finhighlights where f_date=@date
		COMMIT TRAN GetFinhighlights
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN GetFinhighlights

        SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
		
    END CATCH
	 SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail;
	 end
	 If @OperationType='GetMou'
	begin
	BEGIN TRY
		BEGIN TRAN GetMou SET @OutcomeId = 1 SET @OutcomeDetail ='MOU'
		if(@date is null)
		begin
		select top 1 @date=mou_date from tbl_mou order by mou_date desc
		end
			 select mou_id,mou_date,isnull(mou_particulars,'') as mou_particulars,isnull(mou_col1,'') as mou_col1,isnull(mou_col2,'') as mou_col2,isnull(mou_achieved,'') as mou_achieved,isnull(mou_tobeachieved,'') as mou_tobeachieved from tbl_mou where mou_date=@date
		COMMIT TRAN GetMou
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN GetMou

        SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
		
    END CATCH
	 SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail;
	 end
	 If @OperationType='GetMourevised'
	begin
	BEGIN TRY
		BEGIN TRAN GetMourevised SET @OutcomeId = 1 SET @OutcomeDetail ='MOU Revised'
		if(@date is null)
		begin
		select top 1 @date=m_date from tbl_mourevised order by m_date desc
		end
			 select m_id,m_date,isnull(m_particulars,'') as m_particulars,isnull(m_col1,'') as col1,isnull(m_col2,'') as col2 ,isnull(m_col3,'') as col3,isnull(m_col4,'') as col4,isnull(m_col5,'') as col5,isnull(m_col6,'') as col6,isnull(m_col7,'') as col7
			,isnull(m_col8,'') as col8,isnull(m_col9,'') as col9,isnull(m_col10,'') as col10,isnull(m_col11,'') as col11,isnull(m_col12,'') as col12,isnull(m_col13,'') as col13,isnull(m_col14,'') as col14 from tbl_mourevised where m_date=@date
		COMMIT TRAN GetMourevised
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN GetMourevised

        SET @OutcomeId = ERROR_NUMBER()  SET @OutcomeDetail = ERROR_MESSAGE()
		
    END CATCH
	 SELECT @OutcomeId AS OutcomeId, @OutcomeDetail AS OutcomeDetail;
	 end

end

